Q1.create one variable containing following type of data:

In [18]:
v1="sanjay",2000,44.5,(1,2,3,4)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
var 1 is empty
var 2 is list
var 3 is string
var 4 is int

In [ ]:
Q3.Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [20]:
10/5

2.0

In [21]:
11%2

1

In [22]:
147//20

7

In [23]:
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
l1=[11,33.24,"sanjay","true","vijay","pwskills",(1,2,"a"),33,22,11,]

In [30]:
len(l1)

10

In [40]:
for x in l1:
    print (type(x),x)

<class 'int'> 11
<class 'float'> 33.24
<class 'str'> sanjay
<class 'str'> true
<class 'str'> vijay
<class 'str'> pwskills
<class 'tuple'> (1, 2, 'a')
<class 'int'> 33
<class 'int'> 22
<class 'int'> 11

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
a=10
b=2
while(a/b==0):
    print("a is purely divisible by b")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
l1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in l1:
    if x%3==0:
        print(x," is divisible by 3")
    else:
        print(x," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
ans:
    mutable means given data is not chengable.
    immutable means we can change the given data.

In [7]:
s="sanjay"

In [9]:
s[2]='N'

TypeError: 'str' object does not support item assignment

In [10]:
#string is immutable

In [11]:
l1=[1,2,3,4,"pwskills",33.33]

In [13]:
l1[3]=400

In [14]:
l1

[1, 2, 3, 400, 'pwskills', 33.33]

In [ ]:
#list support mutability